{{! template-lint-disable no-log --}}
<div ...attributes class="eh-background" style={{this.style}} data-test-eh-background>
  {{#if this.imageMissing}}
    Asset not found: {{@src}}
    {{log "Asset not found:" @src}}
  {{/if}}

  {{yield}}
</div>